<html>
  <head>
    <title>My Recipes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/slate/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>My Recipes</h1><br/>
    <h2>James Todd</h2><br/>
    <span>This app creates recipes to be saved to a Google Datastore database for a user's Google Account.<br/>
        To view your recipes and create new ones please log in to your Google Account using the link below.</span><br/>
    <a href={{auth_url}} >Login to Google Account</a>
  </body>
</html>
